	
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Database Administration Tool</title>
	<link rel="stylesheet" type="text/css" media="screen" href="styles.css">
	<script  src="addQuestionBeginner.js" ></script>

</head>
<body>
	<section>
		<h1>Add a new question:</h1>
		<form>
			<b>Name:</b><input type="text"><br>
			<b>How many answer: </b>
			<select id="numberAnswer" onchange="setVisibleAnswerInputs()">
				<option value="2" selected >2</option>
				<option value="3" >3</option>
				<option value="4" >4</option>
				<option value="5" >5</option>
			
			</select>
			<input>
			<b>Answer 1:</b> <input type="text"><br>
			<b>Answer 2:</b> <input type="text"><br>
			<span id="answer3" style="display:none"> <b>Answer 3:</b> <input type="text"><br> </span>
			<span id="answer4" style="display:none"> <b>Answer 4:</b> <input type="text"><br> </span>
			<span id="answer5" style="display:none"> <b>Answer 5:</b> <input type="text"><br> </span>
		</form>
	</section>
	<a class="mainMenuOption goBack" href="/"> Go Back</a>
	
	
</body>
</html>