	
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Database Administration Tool</title>
	<link rel="stylesheet" type="text/css" media="screen" href="styles.css">
	<script  src="addQuestionBeginner.js" ></script>

</head>
<body>
	<section>
		<h1>Add a new question:</h1>
		<h3 class="error"  th:if="${questionError}">You didn't write any question or it's duplicate</h3>
		<h3 class="error"   th:if="${answerError}">You didn't write an answer</h3>
		<form id="newQuestionForm" action="#" th:action="@{/saveQuestionBeginner}" th:object="${questionToSave}" method="post">
			<b>Question:</b><input th:field="*{question}" type="text"><br>
			<b>How many answer: </b>
			<select id="numberAnswer" onchange="setVisibleAnswerInputs()">
				<option value="2" selected >2</option>
				<option value="3" >3</option>
				<option value="4" >4</option>
				<option value="5" >5</option>
			
			</select>
			<hr>
			<span id="answers">
				<span id="answer1">
					<b>Answer 1:</b> <input th:field="*{answer1}" type="text"> <b>Energy type:</b> 
					<select  th:field="*{energyType1}" >
						<option value="Wind">Wind</option>
						<option value="PV">PV</option>
						<option value="Hydro">Hydro</option>
						<option value="Manure">Manure</option>
						<option value="Chips">Chips</option>
						<option value="Sawdust">Sawdust</option>
					</select> 
					 <b>Points:</b> <input  th:field="*{points1}"  type="number"><hr>
				 </span>
				 <span id="answer2">
					 <b>Answer 2:</b> <input  th:field="*{answer2}"  type="text"> <b>Energy type:</b> 
					<select  th:field="*{energyType2}" >
						<option value="Wind">Wind</option>
						<option value="PV">PV</option>
						<option value="Hydro">Hydro</option>
						<option value="Manure">Manure</option>
						<option value="Chips">Chips</option>
						<option value="Sawdust">Sawdust</option>
					</select> 
					 <b>Points:</b> <input  th:field="*{points2}"  type="number"><hr>
				</span>
			</span>
			<button id="submitButton" type="submit">Save question</button>
			</form>
	</section>
	<a class="mainMenuOption goBack" href="/"> Go Back</a>
	
	
</body>
</html>