<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Database Administration Tool</title>
		<link rel="stylesheet" type="text/css" media="screen" href="styles.css">
	<script  src="editCountries.js" ></script>
</head>
<body>
	<section>
	<h1>Select a country:</h1>
		<form action="#" th:action="@{/editCountry}" th:object="${selectedCountry}" method="post">
			<select th:field="*{name}" onchange="selectorListener()">
				<option selected disabled value="none">--Select an option--</option>
				<option th:each="country: ${countries}" th:value="${country.country}" th:text="${country.country}"></option>
			</select>
			
			<button disabled id="submitForm" type="submit">Edit</button>
		</form>
	</section>
	<a class="mainMenuOption goBack" href="/"> Go Back</a>
	
	
</body>
</html>