@charset "UTF-8";

*{
	cot
}
section{
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 10px;
	padding-bottom: 3%;
	
}

.mainMenuOption{
	margin:1%; 
	border: 1px solid black;
	border-radius: 10px;
	padding: 1%;
}

.mainMenuOption:hover{
	background-color: firebrick;
	
}

#options, #title{
	text-align:  center;
}
